# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock
Pipfile

# poetry
poetry.lock

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject


# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.code-workspace

# Jupyter Notebooks
.ipynb_checkpoints/
api/hhh.py
api/jj.py
duvardanduvara.com_non_found.csv
.vscode/settings.json
.vscode/settings.json
zeminbank.com_non_found.csv
zeminbank.com_non_foundbk.csv
zeminbank.com_non_foundbkp.csv
zeminbank.com_non_foundbkpc.csv
output.csv
viewstate_decoder.py
api/kak.py
orders_data_list.csv
api/kkk.py
amazon-all-inventory-50460019772.csv
amazon-all-inventory-50460019772.GZIP
api/kkk.py
pttavm_products_data_list.csv
kapionupaspasi.com_non_found.csv
camihalisi.csv
halifleks.com_non_found.csv
run.bat
